.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.container {
    margin-top: 25px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
.form-container {
    border: 5px solid #3f51b5;
}
.meal-container {
    border: 5px solid #6877ca;
}
.pairing-container {
    border: 5px solid #a1aade;
}
.bold {
    font-weight: bold;
}
