<div class="container form-container">
    <h2>1. Select a cuisine:</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group row">
            <div class="col-sm">
                <label>What cuisine would you like?</label><br /><br />
                <mat-form-field appearance="fill">
                    <mat-label>Cuisine</mat-label>
                    <mat-select formControlName="cuisine" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let c of cuisineList" [value]="c">
                            {{ c }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.cuisine.hasError('required')"
                        >Please choose a cuisine</mat-error
                    >
                </mat-form-field>
            </div>
            <div class="col-sm">
                <label>Do you have any dietary requirements?</label><br />
                <mat-radio-group formControlName="dietReq" class="radio-group">
                    <mat-radio-button *ngFor="let r of dietReqList" [value]="r">
                        {{ r }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
        >
            Submit
        </button>
    </form>
</div>
<div class="container meal-container" *ngIf="mealsInCuisineList">
    <h2>2. Select a meal:</h2>
    <label>What cuisine would you like?</label><br /><br />
    <mat-form-field appearance="fill">
        <mat-label>Meal</mat-label>
        <mat-select
            [(ngModel)]="selectedMeal"
            (selectionChange)="
                getPairing(selectedMeal); getRecipe(selectedMeal)
            "
        >
            <mat-option [value]="">--</mat-option>
            <mat-option *ngFor="let c of mealsInCuisineList" [value]="c">
                {{ c }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="container pairing-container" *ngIf="pairingData">
    <h2>3. Your wine pairing</h2>
    <p>
        To go with your
        <span class="bold">{{ selectedMeal | lowercase }}</span>
        you should have a
        <span class="bold">{{ pairingData.wine | lowercase }}</span>
        !
    </p>
    <p>Why not try one of these varieties?</p>
    <ul>
        <li *ngFor="let v of pairingData.varieties">{{ v }}</li>
    </ul>
</div>

<div class="container pairing-container" *ngIf="recipeData !== ''">
    <h2>4. Your recipe</h2>
    <h3>{{ recipeData.title }}</h3>
    <ul>
        <li *ngFor="let i of recipeData.ingredients">{{ i }}</li>
    </ul>
    <ol>
        <li *ngFor="let j of recipeData.instructions">{{ j }}</li>
    </ol>
    <a href="{{ recipeData.sourceUrl }}" target="_blank">
        Check it out online
    </a>
</div>
